@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,300&family=Roboto:wght@400;500;700&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', 'Roboto', sans-serif;
    background-color: #d6fcd4;
}

html {
    font-size: 62.5%;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 10rem auto;
    width: 75%;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0px 0px 2px 0.5px rgba(110, 110, 110, 0.1);
}

.left {
    width: 50%;
    background-color: #ffffff;
    padding: 3rem 2.5rem;
}

.left h1 {
    font-size: 3rem;
    color: #4ba80ed4;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.015rem;
    text-transform: uppercase;
}

.left p {
    font-size: 2rem;
    color: #666;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 2rem;
    text-transform: uppercase;
    text-decoration: none;
}

.left label {
    margin: 0 0 0.5rem 0;
    font-size: 1.8rem;
    color: #666;
    font-weight: 400;
    line-height: 1.6;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
    width: 90%;
    padding: 1rem 0.1rem;
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: 400;
    color: #49a709d4;
    transition: border-bottom 0.3s ease, box-shadow 0.3s ease;
}

input::placeholder {
    /* color: #398706d4; */
    font-size: 1.8rem;
    font-weight: 400;
    opacity: 1;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="tel"]:hover,
select:hover,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus {
    border-bottom: 2px solid #4ba80ed4;
    box-shadow: 0px 0px 2px 2px #5bc91148;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus {
    background-color: #f0f0f0d6;
    /* border-bottom: 2px solid #4e4e4e9f; */
}


label::after {
    content: '*';
    color: red;
    font-size: 1.5rem;
    margin-left: 0.3rem;
}

button {
    width: 90%;
    padding: 1em 2em;
    border: none;
    outline: none;
    border-radius: .5rem;
    background-color: #4ba80ed4;
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin: 2rem 0 0 0;
    transition: all 0.5s ease-in-out;
}

button:hover {
    background-color: #398706d4;
}

.right {
    width: 50%;
    background-color: #fff;
    padding: 2rem;
}

img {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
    height: 100%;
    object-fit: cover;
}

.right p {
    font-size: 2rem;
    color: #4ba80ed4;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 1rem;
    text-align: center;
    text-transform: uppercase;
}

a{
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 1rem;
    text-decoration: none;
    position: relative;
}

.right a {
    top: 0;
    left: 40%;
    transition: all 0.3s ease;
    cursor: pointer;
    color: #4ba80ed4;
}

.right a:hover {
    text-decoration: underline;
}

.right a:focus {
    outline: 2px solid #4ba80ed4;
    outline-offset: 2px;
}

.container{
    width: 100%;
    max-width: 1200px;
    background-color: #fff;
    border-radius: 2em;
    box-shadow: 0 0 5px #fafafa;
    margin: 5em auto;
    height: 80vh;
    padding: 3em;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}

.row-1 h1{
    font-size: 3rem;
    font-weight: 700;
    color: #398706d4;
    letter-spacing: .01em;
    line-height: 1.2em;
}

.row-1 h3{
    font-size: 2rem;
    font-weight: 500;
    color: #333;
    line-height: 2.4em;
}

.row-1 p{
    font-size: 1.6rem;
    font-weight: 400;
    color: #366318;
    line-height: 1.5em;
}

.row-1 .primary-btn{
    background-color: #398706;
    padding: .5em 1em;
    color: #fafafa;
    border-radius: 2em;
    position: relative;
    top: 3%;
    left: 10%;
    transition: all .5s ease-in;
}

.row-1 a{
    color: #366318;
    position: relative;
    top: 3%;
    left: 15%;
    transition: all .5s ease-in;
}

.row-1 .primary-btn:hover{
    background-color: #47a408;
}

.row-1 .secondary:hover{
    text-decoration: underline;
    color: #47a408;
}

.row-2 img{
    height: 70%;
    width: 100%;
    object-fit: cover;
    filter: drop-shadow(0px 0px 15px #75ff98);
}

.menu{
    margin-top: 5em;
}

.sub-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
}

.sub-menu h2{
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

.sub-menu h1{
    text-align: center;
    font-weight: 600;
}

.row-2 p{
    font-size: 2rem;
    text-align: center;
    margin-top: 1em;
    color: #398706;
}

.drops{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drop{
    position: absolute;
    width: 150px;
    height: 150px;
    background: transparent;
    border-radius: 57% 42% 37% 65%/51% 52% 42% 48%;
    box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.1),
    15px 25px 10px rgba(0, 0, 0, 0.1),15px 20px 2px rgba(0, 0, 0, 0.05),
    inset -10px -10px 15px rgba(255, 255, 255, 0.9);
}

.drop::before{
    content: '';
    position: absolute;
    top: 35px;
    left: 42px;
    background-color: #cff8ffe1;
    width: 20px;
    height: 20px;
    border-radius: 57% 43% 37% 63%/ 48% 17% 63% 52%;
}

.drop::after{
    content: '';
    position: absolute;
    top: 25px;
    left: 65px;
    background: #fff;
    width: 10px;
    height: 10px;
    border-radius: 57% 43% 37% 63%/48% 37% 63% 52%;
}

/* .drop:nth-child(2){
    transform: scale(0.5) translate(-200px,180px);
    border-radius: 64% 36% 42% 50% / 42% 37% 63% 40%;
} */

/* .drop:nth-child(3){
    transform: scale(0.5) translate(200px,180px);
    border-radius: 50% 30% 42% 50% / 50% 40% 63% 52%;
}

.drop:nth-child(4){
    transform: scale(0.5) translate(120px -350px);
} */